button.register_btn { color: white; background-color: green; font-size: 16px; padding: 10px;}

#register_btn:hover {
    background-color: darkgreen; /* Change background on hover */
    color: lightgreen; /* Change text color on hover */
}

#register_btn:active {
    background-color: lightgreen; /* Change background when pressed */
    color: green; /* Change text color when pressed */
}